.footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $lightdark;
    padding: $regular-padding;
    gap: 10px;
    @media screen and (min-width: 1366px) {
        justify-content: space-around;
    }

    &__title {
        color: $colour-white;
        font-size: $font-medium;
        background-color: $lightdark;
        top: 5px;
        @media screen and (min-width: 768px) {
            font-size: 1.6rem;
        }
        @media screen and (min-width: 1366px) {
            display: flex;
            font-size: 3rem;
            position: none;
        }
    }

    &__list {
        color: $colour-white;
        font-size: 1.1rem;
        display: flex;
        gap: 10px;
        @media screen and (min-width: 768px) {
            font-size: 1.3rem;
        }
        &__icon {
            font-size: 1rem;
        }
    }
}