@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFF;
}
a:visited :hover :focus {
  text-decoration: none;
  color: #FFF;
}

.cursor-link {
  cursor: pointer;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: center;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}

.background-image {
  background: #f2f2f2;
  position: relative;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
}

h2 {
  display: flex;
  font-family: "roboto";
}
@media screen and (min-width: 1366px) {
  h2 {
    font-size: 2rem;
    align-items: center;
  }
}

body {
  font-family: "roboto", sans-serif;
}
@media screen and (max-width: 599px) {
  body {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.quotetext {
  font-family: "roboto";
  font-weight: 300;
}
@media screen and (min-width: 1366px) {
  .quotetext {
    font-size: 1.3rem;
  }
}

.quotetext-small {
  font-family: "roboto";
  font-weight: 300;
  font-size: 14px;
}
@media screen and (min-width: 720px) {
  .quotetext-small {
    font-size: 1.1rem;
  }
}

.sub-title {
  font-family: "Shrikhand";
  font-size: 1.4rem;
}
@media screen and (min-width: 1366px) {
  .sub-title {
    font-size: 2rem;
  }
}

.menu-title-weight {
  font-weight: 600;
  display: flex;
}
@media screen and (min-width: 720px) {
  .menu-title-weight {
    font-size: 1.3rem;
  }
}

.menu-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-center {
  display: flex;
  padding-left: 2rem;
  margin-top: 1rem;
}
@media screen and (min-width: 1366px) {
  .title-center {
    justify-content: center;
    padding: 3rem;
  }
}

.bg-fill {
  background-color: #f2f2f2;
  padding-top: 1rem;
}

@media screen and (min-width: 1366px) {
  h3 {
    font-size: 1.9rem;
  }
}

.btn {
  padding: 1rem;
  color: #FFF;
  background: #8d00ff;
  background: linear-gradient(0deg, #8d00ff 0%, #FF79DA 100%);
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  text-align: center;
}
.btn__txt {
  font-weight: 700;
  font-size: 1rem;
  font-family: "roboto";
}
@media screen and (min-width: 1366px) {
  .btn__txt {
    font-size: 1.4rem;
  }
}
.btn:active {
  background-color: #d656dc;
}
.btn:hover {
  opacity: 0.9;
}

.btn-like {
  position: relative;
}
.btn-like::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 400ms ease-in-out;
}
@media screen and (min-width: 1366px) {
  .btn-like::before {
    font-size: 2.5rem;
  }
}
.btn-like::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease-in-out;
  background-image: linear-gradient(0deg, #8d00ff 0%, #FF79DA 100%);
}
@media screen and (min-width: 1366px) {
  .btn-like::after {
    font-size: 2.5rem;
  }
}
.btn-like:hover::before {
  opacity: 0;
}
.btn-like:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.return-index {
  text-decoration: none;
  color: #000000;
  position: relative;
  bottom: -15px;
  left: 35px;
  font-size: 20px;
}
@media screen and (min-width: 1366px) {
  .return-index {
    font-size: 3rem;
  }
}

.header {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row-reverse;
}
.header__logo {
  font-size: 2rem;
  width: 100%;
}
@media screen and (min-width: 1366px) {
  .header__logo {
    font-size: 5rem;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #303030;
  padding: 2rem;
  gap: 10px;
}
@media screen and (min-width: 1366px) {
  .footer {
    justify-content: space-around;
  }
}
.footer__title {
  color: #FFF;
  font-size: 1.4rem;
  background-color: #303030;
  top: 5px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1366px) {
  .footer__title {
    display: flex;
    font-size: 3rem;
    position: unset;
  }
}
.footer__list {
  color: #FFF;
  font-size: 1.1rem;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    font-size: 1.3rem;
  }
}
.footer__list__icon {
  font-size: 1rem;
}

.menu-main {
  width: 100%;
  height: 220px;
  object-fit: cover;
  background-image: url(/public/img/la-note-enchantee.jpg);
}
@media screen and (min-width: 1366px) {
  .menu-main {
    height: 65vh;
  }
}

.container-menu {
  display: grid;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .container-menu {
    display: block;
  }
}
@media screen and (min-width: 1366px) {
  .container-menu {
    display: flex;
    flex-direction: column;
  }
}
.container-menu__head {
  display: flex;
  margin-top: 1rem;
  background-color: #f2f2f2;
  width: 92%;
  padding: 2rem 0rem 0rem 2rem;
  position: absolute;
  border-radius: 40px 40px 0px 0px;
  justify-content: space-between;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .container-menu__head {
    justify-content: space-around;
    padding: 1rem 0rem 0rem 1rem;
    width: 358px;
  }
}
@media screen and (min-width: 1366px) {
  .container-menu__head {
    width: 500px;
    right: 36%;
  }
}
.container-menu__logo {
  font-size: 1.3rem;
}

.container-menu__title-secondary {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .container-menu__title-secondary {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1366px) {
  .container-menu__title-secondary {
    justify-content: center;
    flex-direction: row;
    font-size: 1.4rem;
  }
}
.container-menu__title-secondary__underline {
  border-bottom: 3px solid #99E2D0;
  width: 50%;
  height: 25px;
}

.container-menu__card {
  animation: appear 1s;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
}
.container-menu__card:nth-child(1) {
  animation-delay: 100ms;
}
.container-menu__card:nth-child(2) {
  animation-delay: 200ms;
}
.container-menu__card:nth-child(3) {
  animation-delay: 300ms;
}
.container-menu__card:nth-child(4) {
  animation-delay: 400ms;
}
.container-menu__card:nth-child(5) {
  animation-delay: 500ms;
}
.container-menu__card:nth-child(6) {
  animation-delay: 600ms;
}
.container-menu__card:nth-child(7) {
  animation-delay: 700ms;
}
.container-menu__card:nth-child(8) {
  animation-delay: 800ms;
}
.container-menu__card:nth-child(9) {
  animation-delay: 900ms;
}
.container-menu__card:nth-child(10) {
  animation-delay: 1000ms;
}
@media screen and (min-width: 1366px) {
  .container-menu__card {
    width: 30%;
  }
}
.container-menu__card__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .container-menu__card__price {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .container-menu__card__price {
    font-size: 1.4rem;
  }
}
.container-menu__card__description {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.container-menu__card__description div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1366px) {
  .container-menu__card__description div {
    font-size: 1.4rem;
  }
}
.container-menu__card .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.container-menu__card .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.container-menu__card:hover {
  cursor: pointer;
}
.container-menu__card:hover .menu-item__check {
  margin-right: 0;
}
.container-menu__card:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.container-menu__card__content {
  padding: 0.5rem;
}

.wdt-76 {
  width: 76px;
}
@media screen and (min-width: 1366px) {
  .wdt-76 {
    width: 96px;
  }
}

@media screen and (min-width: 390px) {
  .button-responsive {
    margin-left: 7rem;
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .button-responsive {
    width: 30%;
    margin-left: 15rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1366px) {
  .button-responsive {
    width: 10%;
    margin-left: 3rem;
    margin-top: 1rem;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #cfcfcf;
  padding: 1rem;
  text-align: center;
}
@media screen and (min-width: 1336px) {
  .localisation {
    font-size: 1.4rem;
  }
}

.exploration {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background-color: #f2f2f2;
}
@media screen and (min-width: 1336px) {
  .exploration {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  gap: 20px;
}
@media screen and (min-width: 720px) {
  .container {
    display: flex;
    align-content: center;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
    padding: 3rem;
  }
}

.container__card {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .container__card {
    gap: 2rem;
  }
}
.container__card__text {
  padding: 20px 0px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .container__card__text {
    padding: 20px 20px;
    width: 250px;
  }
}
@media screen and (min-width: 1366px) {
  .container__card__text {
    font-size: 1.4rem;
  }
}
.container__card__icon {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 2rem;
}
@media screen and (min-width: 1366px) {
  .container__card__icon {
    font-size: 1.4rem;
  }
}
.container__card__number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 2rem;
  height: 2rem;
  background-color: #FFF;
  border-radius: 25px;
  position: absolute;
  left: -13px;
  bottom: 13px;
  background-color: #9356DC;
  color: #FFF;
}
@media screen and (min-width: 1366px) {
  .container__card__number {
    width: 3rem;
    height: 3rem;
    left: -26px;
    bottom: 11px;
  }
}
.container__card:hover {
  background-color: #d7c0f2;
}

.index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f2f2f2;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .index {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}
@media screen and (min-width: 1366px) {
  .index {
    display: flex;
  }
}

.index__card {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 25px;
  height: 300px;
}
@media screen and (min-width: 1366px) {
  .index__card {
    height: 520px;
  }
}
.index__card__gallery {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
@media screen and (min-width: 1366px) {
  .index__card__gallery {
    height: 410px;
  }
}
.index__card__layout {
  display: flex;
  gap: 100px;
  height: 70px;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .index__card__layout {
    justify-content: space-between;
    margin-left: 1rem;
  }
}
.index__card__text {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 5px;
  align-items: flex-start;
}
@media screen and (min-width: 1366px) {
  .index__card__text {
    font-size: 1.4rem;
  }
}
.index__card__icon {
  font-size: 25px;
  align-self: center;
}
.index__card__new {
  background-color: #99E2D0;
  color: #1b6150;
  position: relative;
  padding: 0.3rem;
  font-weight: 500;
  width: fit-content;
  bottom: 15rem;
  left: 14rem;
}
@media screen and (min-width: 768px) {
  .index__card__new {
    bottom: 15rem;
    left: 15rem;
  }
}
@media screen and (min-width: 1366px) {
  .index__card__new {
    bottom: 27rem;
    left: 105rem;
  }
}

.index__card__icon {
  position: relative;
}
.index__card__icon::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 400ms ease-in-out;
}
@media screen and (min-width: 1366px) {
  .index__card__icon::before {
    font-size: 2.5rem;
  }
}
.index__card__icon::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease-in-out;
  background-image: linear-gradient(0deg, #8d00ff 0%, #FF79DA 100%);
}
@media screen and (min-width: 1366px) {
  .index__card__icon::after {
    font-size: 2.5rem;
  }
}
.index__card__icon:hover::before {
  opacity: 0;
}
.index__card__icon:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

/*# sourceMappingURL=style.css.map */
