.btn {
    @include btn
}

.btn-like {
    @include heart-animated;
}

.return-index {
    text-decoration: none;
    color: $dark;
    position: relative;
    bottom: -15px;
    left: 35px;
    font-size: 20px;
    @media screen and (min-width: 1366px) {
        font-size: 3rem;
    }
}