*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $colour-white;

    &:visited :hover :focus {
        text-decoration: none;
        color: $colour-white; 
    }
}

.cursor-link {
    cursor: pointer;
}