h1 {
    font-family: $font-primary, cursive;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    display: flex;
    font-family: 'roboto';
    
}

body {
    font-family: $font-secondary, sans-serif;
    @include mobile-only;
}

.quotetext {
    font-family: $font-secondary;
    font-weight: 300;
}

.quotetext-small {
    font-family: "roboto";
    font-weight: 300;
    font-size: 14px;
}

.sub-title {
    font-family: $font-primary;
    font-size: 1.4rem;
}

.menu-title-weight {
    font-weight: 600;
    display: flex;
}

.menu-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

