h1 {
    font-family: $font-primary, cursive;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    margin-top: 0;
}

h2 {
    display: flex;
    font-family: 'roboto';
    @media screen and (min-width: 1366px) {
        font-size: 2rem;
        align-items: center;
    }
    
}

body {
    font-family: $font-secondary, sans-serif;
    @include mobile-only;
}

.quotetext {
    font-family: $font-secondary;
    font-weight: 300;
    @media screen and (min-width: 1366px) {
        font-size: 1.3rem;
    }
}

.quotetext-small {
    font-family: "roboto";
    font-weight: 300;
    font-size: 14px;
    @media screen and (min-width: 720px) {
        font-size: 1.1rem;
    }
}

.sub-title {
    font-family: $font-primary;
    font-size: 1.4rem;
}

.menu-title-weight {
    font-weight: 600;
    display: flex;
    @media screen and (min-width: 720px) {
        font-size: 1.3rem;
    }
}

.menu-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-center {
    display: flex;
    padding-left: 2rem;
    margin-top: 1rem;
    @media screen and (min-width: 1366px) {
        justify-content: center;
        padding: 3rem;
    }
}

.bg-fill {
    background-color: $colour-container;
    padding-top: $secondary-padding;
}

h3 {
    @media screen and (min-width: 1366px) {
        font-size: 1.5rem;
    }
}