.localisation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: $colour-container-dark;
    padding: 1rem;
    text-align: center;
}

.exploration {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    background-color: $colour-container;
}

.container {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
	padding: 2rem;
    gap: 20px;
    @media screen and (min-width: 720px) {
        display: flex;
        align-content: center;
    }
}

.container__card {
	display: flex;
	background-color: $colour-container;
	border-radius: 20px;
    position: relative;
    gap:1rem;
    @media screen and (min-width: 768px) {
        gap: 2rem;
    }
	&__text {
		padding: 20px 0px;
        font-weight: 600;  
        @media screen and (min-width: 768px) {
            padding: 20px 20px;
            width: 250px;
        }
	}

    &__icon {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 2rem;
    }

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 2rem;
        height: 2rem;
        background-color: $colour-white;
        border-radius: 25px;
        position: absolute;
        left: -13px;
        bottom: 13px;
        background-color: $colour-primary;
        color: $colour-white;
    }

    &:hover {
        background-color: lighten($color: $colour-primary, $amount: 25) ;
    }
}

.index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: $colour-container;
    gap: 20px;
}

.index__card {
    display: flex;
    flex-direction: column;
    background-color: $colour-white;
    border-radius: 25px;
    height: 300px;

    &__gallery{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }

    &__layout{
        display: flex;
        gap: 100px;
        height: 70px;
        justify-content: space-evenly;
        @media screen and (min-width: 768px) {
            justify-content: space-between;
            margin-left: 1rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 5px;
        align-items: flex-start;
    }
    
    &__icon {
        font-size: 25px;
        align-self: center;
    }

    &__new {
        background-color: $colour-tertiary;
        color: darken($color: $colour-tertiary, $amount: 50);
        position: absolute;
        right: 55px;
        bottom: -30px;
        padding: 0.3rem;
        font-weight: 500;
        @media screen and (min-width: 768px) {
            bottom: 185px;
        }
    }
}

.index__card__icon {
    @include heart-animated;
}
  













