.menu-main {
    width: 100%;
    height: 220px;
    object-fit: cover;
    background-image: url(/public/img/la-note-enchantee.jpg);
}

.container-menu {
    display: grid;
    background-color: $colour-container;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    gap: 10px;
    @media screen and (min-width: 768px) {
        display: block;
    }

    &__head {
        display: flex;
        margin-top: 1rem;
        background-color: #f2f2f2;
        top: 232px;
        padding: 2rem 0rem 0rem 2rem;
        position: absolute;
        width: 358px;
        border-radius: 40px 40px 0px 0px;
        justify-content: space-between;
        @media screen and (min-width: 768px) {
            justify-content: space-around;
            padding: 1rem 0rem 0rem 1rem;
        }
    }

    &__logo {
        font-size: 1.3rem;
    }
}


.container-menu__title-secondary {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;

    &__underline {
        border-bottom: 3px solid $colour-tertiary;
        width: 10%;
        height: 25px;
        @media screen and (min-width: 768px) {
            width: 5%;
        }
    }
}


