$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary:#99E2D0;
$colour-container:#f2f2f2;
$colour-container-dark:#cfcfcf;
$colour-white:#FFF;
$darkPrimary:rgb(141,0,255);
$lightdark: #303030;
$dark: #000000;


$h2-pad: 1rem 2rem 3rem 4rem;
$regular-padding: 2rem;
$secondary-padding: 1rem;

$button-bg: rgb(141,0,255);
$button-gradiant: linear-gradient(0deg, $darkPrimary 0%, $colour-secondary 100%);
$button-padding: 1rem;
$button-width: 13rem;
$button-rad: 25px;

$font-primary:'Shrikhand';
$font-secondary: 'roboto';
$font-normal:1rem;
$font-large:2rem;


$breakpoints: (
  "mobile": 599px,
  "tablet": 720px,
  "desktop": 1366px,
);
